

<div class="container">

{{#each concursos}}
  <div class="card">
    <div class="card__header">
      <img src="https://source.unsplash.com/600x400/?computer" alt="card__image" class="card__image" width="600">
    </div>
    <div class="card__body">
      <span class="tag tag-blue">{{nome}}</span>
      <h4></h4>
      <p>{{descricao}}</p>
    </div>
    <div class="card__footer">
        <form action="/infoConcurso/{{nome}}" method="get">  
            <input type="submit" value="Entrar">
         </form>
    </div>
  </div>

{{/each}}

</div>

