
        <form action="/concursoCreate" method="post" enctype="multipart/form-data">  
            Nome:  <input type="text" name="nome">
            <br> <br>
            Descrição:  <input type="text" name="descricao">
            <br> <br> 
            Data maxima para novas participações :  <input type="date" id="dtMaxPart" name="dtMaxPart">
            <br> <br> 
            Data de encerramento do concurso  <input type="date" id="dtFimConcurso" name="dtFimConcurso">
            <br> <br> 
            <label for="tipoMidia">Tipo de midia que deve ser enviado pelo participante:</label>
            <select id="tipoMidia" name="tipoMidia">
                <option value="imagem">Imagem</option>
                <option value="videoAudio">Video ou Audio</option>
                <option value="texto">Texto</option>
            </select>
            Imagem de Capa: <input type="file" name="imagemCapa">
            <input type="submit" id="btnCadastroConcurso" value="Cadastrar" onclick=msg()>
            <p id="msgValidacao" style="color: red;" hidden > A data de encerramento deve ser maior que data maxima de participação! </p>
            <script>
                function msg()
                {
                alert("Concurso cadastrado com sucesso!");
                }
            </script>
         </form>
