<table border="1px">
    <tr>
        <td> Nome </td>
        <td> Descricao</td>
        <td> Visualizar</td>
    </tr>
    {{#each concursos}}
    <tr>
        <td>{{nome}}</td>
        <td>{{descricao}}</td>
        <td><a href="/"> Entrar</a></td>
    </tr>
    {{/each}}
</table>