<div class="container py-4">
    <div class="container">
        <main>
            <div class="py-5 text-center text-white">
                <h2>Cadastrar Concursos</h2>
            </div>

            <div class="row g-5">

                <div class="col-md-12 col-lg-12">

                    <form action="/concursoCreate" method="post" enctype="multipart/form-data">
                        <div class="row g-3">

                            <div class="col-sm-12">
                                <label for="model" class="form-label fs-5">Nome</label>
                                <input type="text" name="nome" class="form-control">
                            </div>

                            <div class="col-sm-12">
                                <label for="model" class="form-label fs-5">Descrição</label>
                                <textarea type="text" name="descricao"  rows="6" cols="69" class="form-control" ></textarea>
                            </div>
                            <br>

                            <div class="col-sm-6">
                                <label for="model" class="form-label fs-5">Data maxima para novas participações</label>
                                <input type="date" class="form-control" id="dtMaxPart" name="dtMaxPart">
                            </div>

                            <div class="col-sm-6">
                                <label for="model" class="form-label fs-5">Data de encerramento do concurso</label>
                                <input type="date" class="form-control" id="dtFimConcurso" name="dtFimConcurso">
                            </div>

                            <div class="col-sm-6">
                                <label for="tipoMidia" class="form-label fs-5">Tipo de midia que deve ser enviado pelo
                                    participante:</label>
                                <select id="tipoMidia" name="tipoMidia" class="form-control">
                                    <option value="imagem">Imagem</option>
                                    <option value="videoAudio">Video ou Audio</option>
                                    <option value="texto">Texto</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label for="model" class="form-label fs-5">Imagem de Capa</label>
                                <input type="file" class="form-control" name="imagemCapa">
                            </div>

                            <center>
                                <br>
                                <button id="btnCadastroConcurso" class="w-50 btn btn-lg btn-dark" type="submit"
                                    onclick=msg()>Cadastrar</button>
                            </center>


                            <p id="msgValidacao" style="color: red;" hidden> A data de encerramento deve ser maior que
                                data maxima de participação! </p>
                            <script>
                                function msg() {
                                    alert("Concurso cadastrado com sucesso!");
                                }
                            </script>


                        </div>
                    </form>
                </div>

            </div>
        </main>
    </div>
</div>