<table border="1px">
    <tr>
        <td> Nome </td>
        <td> Descricao</td>
        <td> Visualizar</td>
    </tr>
    {{#each concursos}}
    <tr>
        <td>{{nome}}</td>
        <td>{{descricao}}</td>
        <td><form action="/infoConcurso/{{nome}}" method="get">  
            <input type="submit" value="Entrar">
         </form></td>
      
    </tr>
    {{/each}}
</table>