<h1> Pagina do Concurso</h1>


<p> {{ concursoSelecionado.nome }}</p>


<h2>Participar</h2>
<form action="/participacaoCreate" method="post">
        <input type="text" name="concurso" value={{concursoSelecionado.nome}} hidden>  
        Descrição:  <input type="text" name="descricao">
        <br> <br> 
        <input type="submit" value="Participar">
</form>