<!DOCTYPE html>
<html>  
    <head>
        <title>Informações do Concurso</title>
    </head>
    <body>
        <center>
            <h1> </h1>
            <br>
            {{{body}}}
        </center>
    </body>
</html>