<!DOCTYPE html>
<html>

<head>
    <title>Concursos da Firma</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script>
        this.onpointermove = function disablePorValidacao() {
            var htmlItem = document.getElementById("btnCadastroConcurso");
            var dtMaxPart = document.getElementById("dtMaxPart").value;
            var dtFimConcurso = document.getElementById("dtFimConcurso").value;

            var dtMaxPart = String(dtMaxPart.slice(0, 10));
            var dd = String(dtMaxPart.slice(8, 10));
            var mm = String(dtMaxPart.slice(5, 7));
            var yyyy = String(dtMaxPart.slice(0, 4));
            console.log(yyyy, mm, dd)

            dtMaxPart = new Date(yyyy, mm - 1, dd);

            var dtFimConcurso = String(dtFimConcurso.slice(0, 10));
            var dd = String(dtFimConcurso.slice(8, 10));
            var mm = String(dtFimConcurso.slice(5, 7));
            var yyyy = String(dtFimConcurso.slice(0, 4));
            console.log(yyyy, mm, dd)

            dtFimConcurso = new Date(yyyy, mm - 1, dd);

            if (dtMaxPart > dtFimConcurso) {
                htmlItem.disabled = true;
                msgValidacao.hidden = false;
            }
            else {
                htmlItem.disabled = false;
                msgValidacao.hidden = true;
            }

        };


    </script>
        <script>
        this.onload = function sumirBotao() {

            var htmlExcluir = document.getElementsByName("btnExcluir")
            var flagAdm = document.getElementById("flag").value

            console.log(flagAdm)
            if (flagAdm == 0) {
                for (var i = 0; i < htmlExcluir.length; i++) {
                    htmlExcluir[i].disabled = true;
                    htmlExcluir[i].hidden = true;
                }
            }

        };
    </script>
</head>

<body>

    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom text-dark">
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="home" class="nav-link link-dark px-2 fs-5" aria-current="page"><svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-tree" viewBox="0 0 16 16">
                            <path
                                d="M8.416.223a.5.5 0 0 0-.832 0l-3 4.5A.5.5 0 0 0 5 5.5h.098L3.076 8.735A.5.5 0 0 0 3.5 9.5h.191l-1.638 3.276a.5.5 0 0 0 .447.724H7V16h2v-2.5h4.5a.5.5 0 0 0 .447-.724L12.31 9.5h.191a.5.5 0 0 0 .424-.765L10.902 5.5H11a.5.5 0 0 0 .416-.777l-3-4.5zM6.437 4.758A.5.5 0 0 0 6 4.5h-.066L8 1.401 10.066 4.5H10a.5.5 0 0 0-.424.765L11.598 8.5H11.5a.5.5 0 0 0-.447.724L12.69 12.5H3.309l1.638-3.276A.5.5 0 0 0 4.5 8.5h-.098l2.022-3.235a.5.5 0 0 0 .013-.507z">
                            </path>
                        </svg>Clóvis</a>
                </li>
                <li class="nav-item"><a href="divulgaPage" class="nav-link px-2 link-dark fs-5">Noticias</a></li>
                <li class="nav-item"><a href="concursoList" class="nav-link px-2 link-dark fs-5">Concursos</a>
                </li>
                <li class="nav-item"><a href="logout" class="nav-link px-2 link-dark"><svg
                            xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
                            <path fill-rule="evenodd"
                                d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                        </svg></a></li>

            </ul>
        </header>

        <center>
            {{{body}}}
        </center>

        <footer class="text-muted py-5">
            <div class="container">
                <p class="mb-1">© Powered by Clóvis</p>
            </div>
        </footer>

    </div>
</body>

</html>