<!DOCTYPE html>
<html>  
    <head>
        <title>Concursos da Firma</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <center> 
            <h1> Concursos da Firma </h1>
            <a href="divulgaPage"> <button> Feed</button> </a>
            <a href="divulgaCreate"> <button> Criar Posts </button> </a>
            <a href="usuarioCreate"> <button> Cadastrar Usuário</button> </a> 
            <a href="usuarioList"> <button> Listar Usuários</button> </a>
            <a href="concursoCreate"> <button> Cadastrar Concursos</button> </a> 
            <a href="concursoList"> <button> Listar Concursos</button> </a>
            <a href="logout"> <button> Logout</button> </a>
            <br>
            <br>
            {{{body}}}
        </center>
    </body>
</html>