<!DOCTYPE html>
<html style="background-color: chocolate">  
    <head>
        <title>Concursos da Firma</title>
        <link rel="stylesheet" href="layouts.css">
    </head>
    <body>
        <center> 
            <h1> Madeireira clovis basílio </h1>
            <br>
            <br>
            <a href="concursoListUP"> <button> Listar Concursos</button> </a>
            <a href="logout"> <button> Logout</button> </a>
            <br>
            <br>
            {{{body}}}
        </center>
    </body>
</html>