<!DOCTYPE html>
<html>  
    <head>
        <title>Concursos da Firma</title>
    </head>
    <body>
        <center> 
            <h1> Concursos da Firma </h1>
            <a href="divulgaPage"> <button> Divulgação</button> </a>
            <a href="concursoListUP"> <button style="background-color: blueviolet;"> Listar Concursos</button> </a>
            <a href="logout"> <button> Logout</button> </a>
            <br>
            <br>
            {{{body}}}
        </center>
    </body>
</html>