<!DOCTYPE html>
<html>  
    <head>
        <title>Concursos da Firma</title>
    </head>
    <body>
        <center>
            <h1> Concursos da Firma </h1>
            <br>
            {{{body}}}
        </center>
    </body>
</html>