<!DOCTYPE html>
<html style="background-color: chocolate">  
    <head>
        <title>Concursos da Firma</title>
        <link rel="stylesheet" href="layouts.css">
    </head>
    <body>
        <center>
            <h1> Concursos da Firma </h1>
            <br>
            {{{body}}}
        </center>
    </body>
</html>