<!DOCTYPE html>
<html>  
    <head>
        <title>Concursos da Firma</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <center>
            <br>
            {{{body}}}
        </center>
    </body>
</html>