<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 fw-normal">Madeireira Clóvis Basílio</h1>
    <br>
    <img src="/uploads/clovis.jpg" style="padding:3px" class="img-thumbnail img-fluid rounded-circle ">
    <br>
    <h4 class="fs-2">Bem vindo ao site de Concursos da maior madeireira do Brasil, exclusivamente para funcionarios e familiares.</h1>
    <br>
    <a class="btn w-50 btn-dark fs-3" href="concursoList">Nossos concursos</a>
  </div>
</div>