
        <form action="/empresaCreate" method="post">  
            Nome:  <input type="text" name="nome">
            <br> <br>
            Tipo:  <input type="text" name="tipo">
            <br> <br>
            Quantidade de Funcionários:  <input type="number" name="qtdfuncionario">
            <br> <br>
            Proprietário:  <input type="text" name="proprietario">
            <br> <br>
            Endereço:  <input type="text" name="endereco">
            <br> <br>    
            <input type="submit" value="Cadastrar">
         </form>
s