
<form action="/participacaoCreate" method="post">
        Concurso:  <input type="text" name="concurso" value={{dados.nome}}>  
        Descrição:  <input type="text" name="descricao">
        <br> <br> 
        <input type="submit" value="Cadastrar">
     </form>
