
        <form action="/participacaoCreate" method="post">  
            Descrição:  <input type="text" name="descricao">
            <br> <br> 
            <input type="submit" value="Cadastrar">
         </form>
