<!DOCTYPE html>
<html>
    <head>  </head>
    <body>
        <form action="/usuarioCreate" method="post">  
            Descricao:  <input type="text" name="descricao">
            <br> <br>
            
            <input type="submit" value="Cadastrar">
         </form>
    </body>
</html>