<table border="1px">
    <tr>
        <td> ID </td>
        <td> Descricao</td>
        
    </tr>
    {{#each participacaos}}
    <tr>
        <td>{{id}}</td>
        <td>{{descricao}}</td>
        
    </tr>
    {{/each}}
</table>

<table border="1px">
    <tr>
        <td> Nome </td>
        <td> Descricao</td>
        <td> Visualizar</td>
    </tr>
    {{#each concursos}}
    <tr>
        <td>{{nome}}</td>
        <td>{{descricao}}</td>
        <td><a href="participacaoCreate"> Entrar</a></td>
    </tr>
    {{/each}}
</table>