<table border="1px">
    <tr>
        <td> ID </td>
        <td> Descricao</td>
        
    </tr>
    {{#each participacaos}}
    <tr>
        <td>{{id}}</td>
        <td>{{descricao}}</td>
        
    </tr>
    {{/each}}
</table>