<h1> Pagina de Divulgação dos Concursos</h1>

<div class="container">
{{#each divulgacaos}}
  <div class="card">
    <div class="card__header">
      <img src="https://source.unsplash.com/600x400/?computer" alt="card__image" class="card__image" width="600">
    </div>
    <div class="card__body">
      <h4>{{titulo}}</h4>
      <p>{{texto}}</p>
    </div>
    <div class="card__footer"></div>
  </div>
{{/each}}
</div>