<h1> Pagina de Divulgação dos Concursos</h1>


<table border="1px">
    <tr>
        <td> Titulo </td>
        <td> Conteudo</td>
    </tr>
    {{#each divulgacaos}}
    <tr>
        <td>{{titulo}}</td>
        <td>{{texto}}</td>
    </td>
      
    </tr>
    {{/each}}
</table>