<div class="py-5 text-center text-white">
        <h2>Noticias</h2>
</div>

<div class="container2">
  {{#each divulgacaos}}
  <div class="card">
    <div class="card__header">
      <img src="https://source.unsplash.com/600x400/?computer" alt="card__image" class="card__image" width="600">
    </div>
    <div class="card__body">
      <h4>{{titulo}}</h4>
      <p>{{texto}}</p>
    </div>
    <div class="card__footer"></div>
  </div>
  {{/each}}
</div>