
<div class="container py-4">
  <div class="container">
    <main>
      <div class="py-5 text-center text-white">
        <h2>Criação de Noticias para Divulgação</h2>
      </div>

      <div class="row g-5">

        <div class="col-md-12 col-lg-12">

          <form action="/divulgaCreate" method="post">
            <div class="row g-3">

              <div class="col-sm-12">
                <label for="model" class="form-label fs-5">Titulo</label>
                <input type="text" name="titulo" class="form-control">
              </div>

              <div class="col-sm-12">
                <label for="model" class="form-label fs-5">Conteudo</label>
                <input type="text" name="texto" class="form-control">
              </div>

              <center>
                <br>
                <button class="w-50 btn btn-lg btn-dark" type="submit" value="Publicar" onclick=msg()>Postar</button>
              </center>

              <script>
                function msg() {
                  alert("Participação Efetuada!")
                }
              </script>


            </div>
          </form>
        </div>

      </div>
    </main>
  </div>
</div>