<h1> Pagina de Criação de Posts para Divulgação dos Concursos</h1>


        <form action="/divulgaCreate" method="post">
             <br> <br>
            <p> Titulo: </p>    
            <input type="text" name="titulo">
            <br> <br>
            <p>Conteudo: </p>  
            <textarea type="textarea" rows="5" cols="33" name="texto"> </textarea>
            <br> <br> 
            <input type="submit" value="Publicar" onclick=msg()>
        <script>
            function msg()
            {
              alert("Participação Efetuada!")
            }
        </script>
         </form>

