<div class="container py-4">
    <div class="container">
        <main>

            <div class="row g-5">

                <div class="col-md-12 col-lg-12">

                    <form action="/recuperarSenha" method="post">
                        <div class="row g-3">
                            <center>

                                <div class="col-sm-6">
                                    <label for="model" class="form-label fs-5">Login</label>
                                    <input type="text" name="login" readonly style="background-color:gray"
                                        value={{login}} class="form-control">
                                </div>

                                <div class="col-sm-6">
                                    <label for="model" class="form-label fs-5">Pergunta Secreta</label>
                                    <input type="text" name="pergunta" readonly style="background-color:gray"
                                        value="{{pergunta}}" class="form-control">
                                </div>

                                <div class="col-sm-6">
                                    <label for="model" class="form-label fs-5">Resposta</label>
                                    <input type="text" name="resposta" class="form-control">
                                </div>

                                <br>
                                <button class="w-40 btn btn-lg btn-dark" type="submit">Recuperar Senha</button>

                            </center>
                        </div>
                    </form>
                </div>

            </div>
        </main>
    </div>
</div>