<!DOCTYPE html>
<html>
    <head> </head>
    <body>
        <form action="/recuperarSenha" method="post">  
            Login:  <input type="text" name="login" readonly  style="background-color:gray" value={{login}}>
            <br> <br>
            Pergunta Secreta:  <input type="text" name="pergunta" readonly  style="background-color:gray" value="{{pergunta}}">
            <br> <br>
            Resposta:  <input type="text" name="resposta">
            <br> <br>
            <input type="submit" value="Recuperar Senha">
         </form>
        <br>
    </body>
</html>