<div class="container py-4">
    <div class="container">
        <main>

            <div class="row g-5">

                <div class="col-md-12 col-lg-12">


                    <div class="row g-3">
                        <center>

                            <div class="col-sm-6">
                                <label for="model" class="form-label">Sua senha</label>
                                <input type="text" name="login" readonly style="background-color:gray" value={{senha}}
                                    class="form-control">
                            </div>

                            <br>
                            <a href="/" class="nav-link px-2 link-dark">Voltar para tela de login</a>


                        </center>
                    </div>

                </div>

            </div>
        </main>
    </div>
</div>