<!DOCTYPE html>
<html>
    <head>  </head>
    <body>
        <form action="/usuarioCreate" method="post">  
            Login:  <input type="text" name="login">
            <br> <br>
            Senha:  <input type="password" name="senha">
            <br> <br>
            Pergunta Secreta:  <input type="text" name="pergunta">
            <br> <br>
            Resposta:  <input type="text" name="resposta">
            <br> <br>
            É administrador?    <input type="radio" name="flagadm" value=0 checked>
                                <label for="huey">Não</label>
                                 <input type="radio" name="flagadm" value=1>
                                <label for="huey">Sim</label>
            <br> <br>
            <input type="submit" value="Cadastrar">
         </form>
    </body>
</html>