<div class="container py-4">
    <div class="container">
        <main>
            <div class="py-5 text-center text-white">
                <h2>Cadastrar Usuarios</h2>
            </div>

            <div class="row g-5">

                <div class="col-md-12 col-lg-12">

                    <form action="/usuarioCreate" method="post">
                        <div class="row g-3">

                            <div class="col-sm-12">
                                <label for="model" class="form-label fs-5">Login</label>
                                <input type="text" name="login" class="form-control">
                            </div>

                            <div class="col-sm-12">
                                <label for="model" class="form-label fs-5">Senha</label>
                                <input type="password" name="senha" class="form-control">
                            </div>

                            <div class="col-sm-12">
                                <label for="model" class="form-label fs-5">Pergunta Secreta</label>
                                <input type="text" name="pergunta" class="form-control">
                            </div>

                            <div class="col-sm-12">
                                <label for="model" class="form-label fs-5">Resposta</label>
                                <input type="text" name="resposta" class="form-control">
                            </div>

                            <div class="col-sm-12">
                                <label for="model" class="form-label fs-5">Administrador?</label>
                                <input class="form-label" type="radio" name="flagadm" value=0 checked>
                                <label for="huey" class="form-label fs-5"> Não</label>
                                <input type="radio" name="flagadm" value=1 class="form-label">
                                <label for="huey" class="form-label fs-5"> Sim</label>
                            </div>


                            <center>
                                <br>
                                <button class="w-50 btn btn-lg btn-dark " type="submit" onclick=msg()>Cadastrar</button>
                            </center>

                            <script>
                                function msg() {
                                    alert("Usuário cadastrado com sucesso!");
                                }
                            </script>


                        </div>
                    </form>
                </div>

            </div>
        </main>
    </div>
</div>